:root {
  --teal: #0594a9;
}

/* 
bar colors
fdc063
05c3cc
ff8b8b
#ff904c
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
  /* color: rgb(255, 144, 76); */
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* UTILITES */
.section-title {
  font-size: 2.4rem !important;
  text-align: center;
  margin: 1rem 0 4rem !important;
  text-transform: uppercase;
  letter-spacing: 1rem;
  letter-spacing: 6px !important;
  color: #555;
}

.section-title:after {
  display: block;
  height: 2px;
  background-color: var(--teal);
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.justify {
  text-align: justify;
}

.sub-header {
  font-size: 1.4rem !important ;
  color: #555;
  text-transform: uppercase;
  margin-bottom: 1.5rem !important;
  font-weight: 100 !important;
  /* text-align: center; */
}

/* APPBAR */
.list-items {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.list-item {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 2rem 1rem;
  font-size: 0.9rem !important;
  font-weight: 400;
}

.list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.list-item.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.list-link {
  text-decoration: none;
  color: #fff;
}

/* Why Scube */
.why-scube {
  padding: 4rem 2rem;
  position: relative;
}

.why-scube-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.why-scube-card {
  text-align: center;
  background-color: #fff;
  /* min-width: 13rem; */
  /* width: 13rem; */

  /* width: 13rem; */
  height: 80%;
  padding: 2rem 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  cursor: pointer;
  transition: transform 0.3s;
  transform: scale(1.05);
  color: #555;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.why-scube-card:hover {
  transform: translateY(-8px) scale(1.1);
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}

.why-scube-card .MuiSvgIcon-root {
  font-size: 3.4rem !important;
  color: var(--teal) !important;
  stroke: #fff;
}

.why-scube-card-header {
  font-size: 1.3rem !important;
  /* font-weight: 500 !important; */
}

.why-scube .performance {
  background-color: #fff;
  padding: 0rem !important ;
}

.why-scube .progressbars {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Performance */
.performance {
  background-color: #fff;
  padding: 4rem;
}

.performance-header {
  font-size: 2rem !important;
  text-align: center;
  text-transform: uppercase;
}

.performance .progressbars {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.CircularProgressbar-text {
  font-weight: 700;
  transform: translate(2px, 4px);
  font-size: 2rem !important;
}

.progressbar-title {
  color: #333;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.improvement-bullet {
  height: 1rem;
  width: 1rem;
  border-radius: 3px;
  background-color: black;
  transform: translateY(-2px);
}

.no-flickr {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* STORY */
.story {
  background-color: #fff;
  padding: 4rem 0;
  color: #555;
  position: relative;
}

.story .arrow-img {
  position: absolute;
  top: 22%;
  left: 60%;
}

.story .img {
  text-align: center;
}

/* SERVICES */
.services {
  padding: 4rem 1rem;
  color: #555;
  position: relative;
}

.services .stars {
  position: absolute;
  top: 7%;
  left: 70%;
}

.services .service-card {
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 85%;
  gap: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  transition: all 0.3s;
}

.services .service-card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transform: translateY(-3px) scale(1.05);
}

.services .service-card .MuiSvgIcon-root {
  /* color: var(--teal); */
  font-size: 3.4rem;
  /* stroke: green; */
  stroke: #fff;
  fill: var(--teal);
}

.services .MuiSvgIcon-root path {
  stroke-width: 1;
}

/* EVENTS */
.events .event {
  margin-bottom: 2rem;
}

.events .title {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.events .list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.events .list .MuiSvgIcon-root {
  color: #fff;
  background-color: var(--teal);
  border-radius: 5px;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  padding: 0.2rem;
  -webkit-transition: background-image 2s ease-in-out;
  transition: background-image 2s ease-in-out;
}

.events .list .item {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  text-decoration: none;
  color: #555;
  -webkit-transition: background-image 2s ease-in-out;
  transition: background-image 2s ease-in-out;
}

/* ff9907 */
.events .list .item:hover .MuiSvgIcon-root {
  background-image: linear-gradient(
    180deg,
    rgb(255, 186, 17) 11%,
    rgb(255, 168, 11) 49%,
    rgb(255, 151, 6) 100%
  );
  -webkit-transition: background-image 2s ease-in-out;
  transition: background-image 2s ease-in-out;
}

/* STUDENTS */
.students {
  padding: 4rem 0 20rem;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.students .garden {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}
.students .garden-girl {
  position: absolute;
  bottom: 11%;
  left: 6%;
  height: 12rem;
  margin: 0 auto;
}

.students .garden-boy {
  position: absolute;
  bottom: 9%;
  right: 5%;
  height: 12rem;
  margin: 0 auto;
}

.students .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.students .swiper-slide {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.7rem;
}

.students .img-box {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24%;
  overflow: hidden;
  position: relative;
  height: 14rem;
  background-color: #000;
}

.students .swiper-slide img {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  transition: all 0.3s;
}

.students .swiper-slide img:hover {
  opacity: 1;
  /* transform: scale(1.1); */
  transition: all 0.3s;
  cursor: pointer;
}

.students .img-box .img-content {
  position: absolute;
  color: #fff;
  top: 70%;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  transition: all 0.5s;
}

.students .img-box:hover .img-content {
  display: none;
}

.students .message {
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  align-items: center;
  /* justify-content: center; */
  text-align: justify;
  color: #555;
}

.students .message-title {
  padding: 0 1rem 0.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* TEACHERS */
.teachers {
  /* background-color: #fff; */
  padding: 4rem 0;
}

.teachers .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
}

.teachers .swiper-slide {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #000;
  border-radius: 5px;
}

.teachers .swiper-slide img {
  opacity: 0.8;
  transition: all 0.3s;
}

.teachers .swiper-slide img:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
}

.teachers .swiper-slide:hover .img-content {
  display: none;
}

.teachers .img-content {
  position: absolute;
  color: #fff;
  top: 70%;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  transition: all 0.3s;
}

.teachers .message {
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  align-items: center;
  /* justify-content: center; */
  text-align: justify;
  color: #555;
}

.teachers .message-title {
  padding: 0 1rem 0.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* COTACT */
.contact {
  padding: 20rem 0 0;
  margin-top: -5rem;
  /* background-color: #333; */
  color: #fff;
  background-image: url(../public/assets/footer-bg-1.png);
  position: relative;
}

.contact .section-title {
  color: #fff;
  margin: 1rem 0 2rem !important;
}

.contact .MuiSvgIcon-root {
  color: #fff;
  stroke: #555;
}

.contact .cloud-img {
  position: absolute;
  top: 50%;
  left: 18%;
  height: 3rem;
  padding: 0;
}

.contact .cloud-img-1 {
  position: absolute;
  top: 55%;
  left: 50%;
  height: 3rem;
  padding: 0;
}

.contact .sun-img {
  position: absolute;
  top: 47%;
  left: 73%;
  height: 8rem;
  padding: 0;
}

.contact .pencil-boy {
  position: absolute;
  top: 70%;
  left: 75%;
  height: 6rem;
  padding: 0;
  background-color: transparent;
}

.contact .pencil-girl {
  position: absolute;
  /* top: 90%; */
  bottom: 6.5%;
  left: 20%;
  height: 6rem;
  padding: 0;
}

.contact .grid {
  align-items: flex-end;
}

.contact .contact-scube {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact .contact-scube img {
  align-self: center;
  width: 9rem;
}

.contact .contact-scube .scube-info {
  margin-top: 1rem;
}

.contact .scube-info .MuiSvgIcon-root {
  font-size: 1.4rem;
  margin-right: 0.3rem;
  /* fill: #555; */
  stroke: #555;
}

.contact .scube-info p {
  text-transform: uppercase;
}

.contact .form-control {
  width: 100%;
  color: inherit;
}

.contact .MuiInput-root {
  color: inherit;
}

.contact .MuiInput-root::before {
  border-color: #fff;
}

.contact form .MuiSvgIcon-root {
  font-size: 2rem;
  stroke: #555;
}

.contact .list {
  list-style-type: none;
  padding: 0;
}

.contact .list li {
  display: flex;
  align-items: center;
  margin: 1rem 0 0;
}

.contact .list li .MuiSvgIcon-root {
  margin-right: 0.3rem;
}

.contact .school-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  /* border: 1px solid white; */
}

.contact .school-info img {
  width: 9rem;
  align-self: center;
  transform: translateX(-1rem);
}

.contact .copyright {
  border-top: 2px solid white;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* .my-button {
  background-color: transparent;
  color: rgb(249, 250, 251);
  padding: 0.5rem 1rem;
  border: 1px solid rgb(249, 250, 251);
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

.my-button:hover {
  color: #fff !important;
  border-color: #fff;
  box-shadow: 0 0 0 1px #fff inset !important;
} */

.my-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    var(--teal) 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(228, 226, 232, 0.4) 0 2px 4px,
    rgba(126, 109, 162, 0.3) 0 7px 13px -3px,
    rgba(162, 164, 177, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono", monospace; */
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.my-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.my-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.my-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.css-19kzrtu {
  padding: 1rem 0 !important ;
}
