:root {
  --teal: #0594a9;
}

/* 
bar colors
fdc063
05c3cc
ff8b8b
#ff904c
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
  /* color: rgb(255, 144, 76); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section-title {
  font-size: 2.4rem !important;
  text-align: center;
  margin: 1rem 0 4rem !important;
  text-transform: uppercase;
  letter-spacing: 1rem;
  letter-spacing: 6px !important;
  color: #555;
}

.section-title:after {
  display: block;
  height: 2px;
  background-color: var(--teal);
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.list-items {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.list-item {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 1.5rem 1rem;
}

.list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.list-item.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.list-link {
  text-decoration: none;
  color: #fff;
}

/* Why Scube */
.why-scube {
  padding: 4rem 4rem 6rem;
}

.why-scube-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.why-scube-card {
  text-align: center;
  background-color: #fff;
  max-width: 13rem;
  padding: 2rem 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  cursor: pointer;
  transition: transform 0.3s;
  transform: scale(1.05);
  color: #555;
}

.why-scube-card p {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.why-scube-card:hover {
  transform: translateY(-8px) scale(1.1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.why-scube-card .MuiSvgIcon-root {
  font-size: 3.4rem !important;
  color: var(--teal) !important;
}

.why-scube-card-header {
  font-size: 1.3rem !important;
  /* font-weight: 500 !important; */
}

/* Performance */
.performance {
  background-color: #fff;
  padding: 4rem;
}

.performance-header {
  font-size: 2rem !important;
  text-align: center;
  text-transform: uppercase;
}

.performance .progressbars {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.CircularProgressbar-text {
  font-weight: 700;
  transform: translate(2px, 4px);
  font-size: 2rem !important;
}

.progressbar-title {
  color: #333;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.improvement-bullet {
  height: 1rem;
  width: 1rem;
  border-radius: 3px;
  background-color: black;
  transform: translateY(-2px);
}

.no-flickr {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* STORY */
.story {
  padding: 4rem;
  color: #555;
}

.story .story-right {
  margin-top: 2rem;
}

.story .img {
  text-align: center;
}

/* SERVICES */
.services {
  background-color: #fff;
  padding: 4rem;
  color: #555;
}

.services .service-card {
  text-align: center;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 85%;
  gap: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  transition: all 0.3s;
}

.services .service-card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transform: translateY(-3px) scale(1.05);
}

.services .MuiSvgIcon-root {
  color: var(--teal);
  font-size: 3.4rem;
  stroke-width: 2;
  /* color: linear-gradient(
    135deg,
    rgb(32, 167, 172) 11%,
    rgb(33, 138, 174) 49%,
    rgb(24, 42, 115) 100%
  ); */
}

.services .MuiSvgIcon-root path {
  stroke-width: 1;
}

/* STUDENTS */
.students {
  padding: 4rem 0;
}

.students .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.students .swiper-slide {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #000;
  border-radius: 5px;
}

.students .swiper-slide img {
  opacity: 0.8;
  transition: all 0.3s;
  /* border-radius: 10px; */
}

.students .swiper-slide img:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.3s;
  cursor: pointer;
}

.students .swiper-slide:hover .img-content {
  display: none;
}

.students .img-content {
  position: absolute;
  color: #fff;
  top: 70%;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}

/* .students .swiper-button-prev {
  transform: translateX(-0.5rem);
  z-index: 4 !important;
}

.students .swiper-button-next {
  transform: translateX(0.5rem);
  z-index: 4 !important;
} */

/* TEACHERS */
.teachers {
  background-color: #fff;
  padding: 4rem;
}

.teachers .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
}

.teachers .swiper-slide {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #000;
  border-radius: 5px;
}

.teachers .swiper-slide img {
  opacity: 0.8;
  transition: all 0.3s;
}

.teachers .swiper-slide img:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
}

.teachers .swiper-slide:hover .img-content {
  display: none;
}

.teachers .img-content {
  position: absolute;
  color: #fff;
  top: 70%;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  transition: all 0.3s;
}

/* COTACT */
.contact {
  padding: 4rem 0 0;
  background-color: #333;
  color: #fff;
}

.contact .form-control {
  width: 100%;
  color: #fff;
}

.contact .MuiInput-root {
  color: #fff;
}

.contact .MuiInput-root::before {
  border-color: #fff;
}

.contact .MuiSvgIcon-root {
  font-size: 2rem;
  color: #fff;
}

.contact .list {
  list-style-type: none;
  padding: 0;
}

.contact .contact-info {
  margin-top: 1rem;
}

.contact .contact-info .MuiSvgIcon-root {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.contact .contact-info p {
  text-transform: uppercase;
}

.contact .copyright {
  border-top: 1px solid white;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}

.contact .contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* text-align: center; */
}

.contact .contact-left p {
  text-align: center;
}
